html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

section:nth-child(1){
    background-color: aqua;
}

section:nth-child(2){
    background-color: rebeccapurple;
}

section:nth-child(3){
    background-color: rgb(179, 240, 11);
}

section:nth-child(4){
    background-color: rgb(78, 241, 86);
}

section:nth-child(5){
    background-color: rgb(10, 12, 12);
}

section:nth-child(6) {
    background-color: rgb(5, 21, 252);
}